header {
    width: 100vw;
    height: 500px;
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}

.pass-img-container {
    height: 100%;
    position: relative;
    width: 500px;
    display: flex;
    
    // Hover-Effekt für die Hintergrundbilder
    &:hover {
        .pass-background {
            img {
                &:first-child {
                    opacity: 0; // Default-Bild wird unsichtbar
                }
                
                &:last-child {
                    opacity: 1; // Hover-Bild wird sichtbar
                }
            }
        }
    }
}

.pass-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: opacity 0.3s ease; // Sanfter Übergang
        
        &:first-child {
            z-index: 1;
            opacity: 1; // Default-Bild ist standardmäßig sichtbar
        }
        
        &:last-child {
            z-index: 2;
            opacity: 0; // Hover-Bild ist standardmäßig unsichtbar
        }
    }
}

.pass-img-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    
    .pass-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}