.nav-mobile {
    display: none;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    background-color: white;
}

.nav-box {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    height: 103px;
}

.nav-box img {
    height: 96px;
    width: auto;
}

.nav-login-box-mobile {
    display: flex;
    height: 103px;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}