.legal-wrapper {
    flex: 1;
    overflow-y: auto;
}


.legal-notice-content {
    padding: 72px 88px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1440px;
    overflow: auto;
}

.legal-notice-a-tag-style {
    text-decoration: none;
    color: var(--main-color);
    font-size: 19px;
}

.legal-notice-content p {
    font-size: 16px;
}

h4 {
    color: var(--main-color);
}

.help-a-tag-back-button {
    display: none;
    width: 37px;
    height: 37px;
}

.help-a-tag-back-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
