.overlay-add-task {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 60;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-task-overlay-content {
  width: 500px;
  position: absolute;
  top: 0;
  right: -100%;
  height: 100vh;
  gap: 12px;
  background-color: white;
  border-radius: 30px 0 0 30px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 4px 0;
  align-items: center;
  flex-direction: column;
  transition: right 0.5s ease-in-out;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: 0px;
}

.addtask-main-content {
  display: flex;
  justify-content: center;
  width: 440px;
  height: auto;
  overflow-y: none;
}

.add-task-overlay-content .addtask-wrapper {
  height: auto;
}

.edit-addtask .addtask-wrapper {
  height: 94%;
}

.edit-addtask .category-box {
  display: none;
}

/* Slide-In: von rechts -100% nach 0 */
@keyframes slideInRight {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}

/* Slide-Out: von 0 nach rechts -100% */
@keyframes slideOutRight {
  from {
    right: 0;
  }

  to {
    right: -100%;
  }
}

.add-task-overlay-content.slide-in {
  animation: slideInRight 0.5s ease forwards;
}

.add-task-overlay-content.slide-out {
  animation: slideOutRight 0.5s ease forwards;
}

.add-task-overlay-head {
  padding-top: 49px;
  width: 100%;
}

.add-task-overlay-head h2 {
  padding-left: 40px;
}

.close-button {
  display: block;
  top: 24px;
  right: 24px;
  position: absolute;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.addtask-aside-clone {
  display: flex;
  height: 100%;
  align-items: space-between;
  overflow-y: auto;
}

.overlay-create-task {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 24px;
}

.regular-close-image,
.hover-close-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.hover-close-image {
  opacity: 0;
}

.close-button:hover .regular-close-image {
  opacity: 0;
}

.close-button:hover .hover-close-image {
  opacity: 1;
}
