
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 232px;
  padding-top: 42px;
  padding-bottom: 66px;
  justify-content: space-between;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  height: calc(100vh - 205px);
  overflow: hidden;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 186px;
  gap: 15px;
}

.nav-bg{
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  text-decoration: none;
  color: var(--menu-color);
  width: 140px;
  border-radius: 8px;
  cursor: pointer;
}

.nav-bg img {
  height: 24px;
  width: 24px;
}

.nav-bg:hover {
  background-color: var(--navi-buttons-bg);
}

.nav-bg.active {
  background-color: var(--navi-buttons-bg);
  pointer-events: none;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar-links a {
  color: var(--menu-color);
  font-size: 16px;
  padding: 8px;
  text-decoration: none;
}

.sidebar-links a:hover {
  color: var(--main-color);
}

.sidebar-links .active {
  color: #fff;
  padding: 8px;
  background-color: var(--main-color);
  border-radius: 10px;
  pointer-events: none;
}

.nav-login-box {
    display: flex;
    width: 186px;
}

.nav-login-box img {
    height: 24px;
}

.nav-login-box a {
    display: flex;
    align-items: center;
    width: 186px;
    padding: 0 30px;
    font-size: 19px;
    gap: 8px;
    text-decoration: none;
    color: var(--navi-button-bg);
}