/* PT Sans Regular */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url(./pt-sans-v17-latin-regular.woff2) format('woff2'),
         url(./PTSans-Regular.ttf) format('truetype');
}

/* PT Sans Italic */
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: url(./pt-sans-v17-latin-italic.woff2) format('woff2'),
         url(./PTSans-Italic.ttf) format('truetype');
}

/* PT Sans Bold */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url(./pt-sans-v17-latin-700.woff2) format('woff2'),
         url(./PTSans-Bold.ttf) format('truetype');
}

/* PT Sans Bold Italic */
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: url(./pt-sans-v17-latin-700italic.woff2) format('woff2'),
         url(./PTSans-BoldItalic.ttf) format('truetype');
}