<div id="why-me" class="why-me-container">
    <h2>{{ 'WHY_ME_TITLE' | translate }}</h2>

    <div class="why-me-box">
        <div class="from">
            <img src="/assets/img/why-me/icon-remote.svg" alt="Remote Icon">
            <h4>
                <span [ngStyle]="{ color: 'rgb(137, 187, 217)' }">
                    {{ 'WHY_ME_REMOTE_HIGHLIGHT' | translate }}
                </span>
                <span>
                    {{ 'WHY_ME_REMOTE_TEXT_1' | translate }}
                </span><br>
                <span>
                    {{ 'WHY_ME_REMOTE_TEXT_2' | translate }}
                </span>
            </h4>
        </div>

        <div class="why-me-text">
            <p>{{ 'WHY_ME_DESCRIPTION' | translate }}</p>

            <div class="why-me-button-box">
                <a class="why-me-button" href="#contact-me">
                    {{ 'WHY_ME_BUTTON' | translate }}
                </a>
            </div>
        </div>
    </div>
</div>