<div class="privacy-policy-container">
  <h2>{{ 'PRIVACY_TITLE' | translate }}</h2>

  <h3>{{ 'PRIVACY_SECTION1_TITLE' | translate }}</h3>

  <h4>{{ 'PRIVACY_SECTION1_GENERAL_TITLE' | translate }}</h4>
  <p>{{ 'PRIVACY_SECTION1_GENERAL_TEXT' | translate }}</p>

  <h4>{{ 'PRIVACY_SECTION1_COLLECTION_TITLE' | translate }}</h4>
  <p>{{ 'PRIVACY_SECTION1_COLLECTION_TEXT1' | translate }}</p>
  <p>{{ 'PRIVACY_SECTION1_COLLECTION_TEXT2' | translate }}</p>
  <p>{{ 'PRIVACY_SECTION1_COLLECTION_TEXT3' | translate }}</p>
  <p>{{ 'PRIVACY_SECTION1_COLLECTION_TEXT4' | translate }}</p>

  <h3>{{ 'PRIVACY_SECTION2_TITLE' | translate }}</h3>
  <p>{{ 'PRIVACY_SECTION2_TEXT1' | translate }}</p>
  <p>
    <strong>{{ 'PRIVACY_SECTION2_PROVIDER_LABEL' | translate }}</strong><br><br>
    {{ 'PRIVACY_SECTION2_PROVIDER_NAME' | translate }}<br>
    {{ 'PRIVACY_SECTION2_PROVIDER_ADDRESS' | translate }}<br>
    {{ 'PRIVACY_SECTION2_PROVIDER_CITY' | translate }}<br>
    <a href="https://www.infinityfree.com">{{ 'PRIVACY_SECTION2_PROVIDER_WEBSITE' | translate }}</a>
  </p>

  <h3>{{ 'PRIVACY_SECTION3_TITLE' | translate }}</h3>
  <p>
    {{ 'PRIVACY_SECTION3_NAME' | translate }}<br>
    {{ 'PRIVACY_SECTION3_ADDRESS' | translate }}<br>
    {{ 'PRIVACY_SECTION3_CITY' | translate }}<br><br>
    {{ 'PRIVACY_SECTION3_PHONE' | translate }}<br>
    {{ 'PRIVACY_SECTION3_EMAIL' | translate }}
  </p>

  <h3>{{ 'PRIVACY_SECTION4_TITLE' | translate }}</h3>
  <p>{{ 'PRIVACY_SECTION4_TEXT' | translate }}</p>

  <h3>{{ 'PRIVACY_SECTION5_TITLE' | translate }}</h3>
  <p>{{ 'PRIVACY_SECTION5_TEXT' | translate }}</p>

  <h3>{{ 'PRIVACY_SECTION6_TITLE' | translate }}</h3>
  <p>{{ 'PRIVACY_SECTION6_TEXT' | translate }}</p>

  <h3>{{ 'PRIVACY_SECTION7_TITLE' | translate }}</h3>
  <p>{{ 'PRIVACY_SECTION7_TEXT' | translate }}</p>
</div>
