// ===========================
// PRIVACY POLICY CONTAINER
// ===========================

.privacy-policy-container {
  padding: 100px;
}

// ===========================
// LINKS
// ===========================

a {
  color: rgb(137, 187, 217);

  &:hover {
    color: black;
    background-color: rgb(137, 187, 217);
    border-radius: 20px;
  }
}
