<footer>
  <div class="footer-infos">
    <a href="/legal-notice">{{ 'FOOTER_LEGAL_NOTICE' | translate }}</a>
    <p>{{ 'FOOTER_COPYRIGHT' | translate }}</p>
  </div>

  <div [ngStyle]="{'display': 'none'}" class="sozial-media-mobile">
    <a href="mailto:davideisenbarth@gmail.com">
      <img src="/assets/img/footer/email-mobile.svg"
        alt="email icon mobile"></a>
    <a href="https://github.com/eisyeic">
      <img src="/assets/img/footer/github-mobile.svg" alt="github icon mobile"></a>
    <a href="https://www.linkedin.com/in/david-eisenbarth-6113962a5/">
      <img src="/assets/img/footer/linkedin-mobile.svg"
        alt="linkedin icon mobile"></a>
  </div>

  <a class="footer-logo" (click)="onLogoClick()" style="cursor: pointer;">
    <img src="/assets/img/navbar/logo-default.png" alt="logo-default">
  </a>

  <div class="sozial-media-button">
    <div class="email-box">
      <a href="mailto:davideisenbarth@gmail.com" style="cursor: pointer;">
        <img src="/assets/img/footer/email-footer-dark.svg" alt="email-button">
        <img src="/assets/img/footer/email-footer-hover.svg" alt="email-button-hover">
      </a>
    </div>

    <div class="github-box">
      <a href="https://github.com/eisyeic" target="_blank" style="cursor: pointer;">
        <img src="/assets/img/footer/github-footer-dark.svg" alt="github-button">
        <img src="/assets/img/footer/github-footer-hover.svg" alt="github-button-hover">
      </a>
    </div>

    <div class="linkedin-box">
      <a href="https://www.linkedin.com/in/david-eisenbarth-6113962a5/" target="_blank" style="cursor: pointer;">
        <img src="/assets/img/footer/linkedin-footer-dark.svg" alt="linkedin-button">
        <img src="/assets/img/footer/linkedin-footer-hover.svg" alt="linkedin-button-hover">
      </a>
    </div>
  </div>
</footer>