<div id="my-skills" class="my-skills">
  <h2>{{ 'SKILLS_TITLE' | translate }}</h2>

  <div class="my-skills-box">
    <div class="my-skills-item">
      <div class="items">
        <img src="/assets/img/my-skills/angular-icon.svg" alt="Angular Icon">
        <p>Angular</p>
      </div>
      <div class="items">
        <img src="/assets/img/my-skills/typescript-icon.svg" alt="Typescript Icon">
        <p>TypeScript</p>
      </div>
      <div class="items">
        <img src="/assets/img/my-skills/javascript-icon.svg" alt="Javascript Icon">
        <p>JavaScript</p>
      </div>
      <div class="items">
        <img src="/assets/img/my-skills/html-icon.svg" alt="Html Icon">
        <p>HTML</p>
      </div>
      <div class="items">
        <img src="/assets/img/my-skills/css-icon.svg" alt="Css Icon">
        <p>CSS</p>
      </div>
      <div class="items">
        <img src="/assets/img/my-skills/api-icon.svg" alt="Api Icon">
        <p>REST-API</p>
      </div>
      <div class="items">
        <img src="/assets/img/my-skills/firebase-icon.svg" alt="Firebase Icon">
        <p>Firebase</p>
      </div>
      <div class="items">
        <img src="/assets/img/my-skills/git-icon.svg" alt="Git Icon">
        <p>Git</p>
      </div>
      <div class="items">
        <img src="/assets/img/my-skills/material-design-icon.svg" alt="Material Design Icon">
        <p>Material<br>Design</p>
      </div>
      <div class="items">
        <img src="/assets/img/my-skills/scrum-icon.svg" alt="Scrum Icon">
        <p>Scrum</p>
      </div>
    </div>

    <div class="my-skills-text-box">
      <p>{{ 'SKILLS_LEARNING_TITLE' | translate }}</p>
      <div class="item-box">
        <div class="item-learn">
          <img src="/assets/img/my-skills/react-icon.svg" alt="React Icons">
          <p>React</p>
        </div>
        <div class="item-learn">
          <img src="/assets/img/my-skills/vue-js-icon.svg" alt="Vue Js Icons">
          <p>Vue:js</p>
        </div>
      </div>
      <p>{{ 'SKILLS_LEARNING_TEXT' | translate }}</p>
    </div>

    <div class="my-skills-text-box-mobile">
      <p class="blue">{{ 'SKILLS_LEARNING_TITLE_MOBILE' | translate }}</p>
      <div class="my-skills-text-mobile">
        <p>{{ 'SKILLS_LEARNING_TEXT' | translate }}</p>
        <div class="my-skills-text-mobile-img">
          <div class="item-learn">
            <img src="/assets/img/my-skills/react-icon.svg" alt="React Icons">
            <p>React</p>
          </div>
          <div class="item-learn">
            <img src="/assets/img/my-skills/vue-js-icon.svg" alt="Vue Js Icons">
            <p>Vue:js</p>
          </div>
        </div>
      </div>
    </div>

    <div class="button-box">
      <a class="button" href="#contact-me">
        {{ 'WHY_ME_BUTTON' | translate }}
      </a>
    </div>
  </div>
</div>