<div class="my-skills">
    <h2>My Skills</h2>

    <div class="my-skills-box">
        <div class="my-skills-item">
            <img [ngStyle]="{width: '66px', height: '100px'}" src="/assets/img/my-skills/angular-icon.svg"
                alt="Angular Icon">
            <img [ngStyle]="{width: '85px', height: '100px'}" src="/assets/img/my-skills/typescript-icon.svg"
                alt="Typescript Icon">
            <img [ngStyle]="{width: '84px', height: '100px'}" src="/assets/img/my-skills/javascript-icon.svg"
                alt="Javascript Icon">
            <img [ngStyle]="{width: '54px', height: '100px'}" src="/assets/img/my-skills/html-icon.svg" alt="Html Icon">
            <img [ngStyle]="{width: '70px', height: '100px'}" src="/assets/img/my-skills/css-icon.svg" alt="Css Icon">
            <img [ngStyle]="{width: '80px', height: '100px'}" src="/assets/img/my-skills/api-icon.svg" alt="Api Icon">
            <img [ngStyle]="{width: '76px', height: '100px'}" src="/assets/img/my-skills/firebase-icon.svg"
                alt="Firebase Icon">
            <img [ngStyle]="{width: '59px', height: '100px'}" src="/assets/img/my-skills/git-icon.svg" alt="Git Icon">
            <img [ngStyle]="{width: '76px', height: '124px'}" src="/assets/img/my-skills/material-design-icon.svg"
                alt="Material Design Icon">
            <img [ngStyle]="{width: '64.11px', height: '100px'}" src="/assets/img/my-skills/scrum-icon.svg"
                alt="Scrum Icon">
        </div>
        <div class="my-skills-text-box">
            <p>I am currently learning</p>
            <img src="/assets/img/my-skills/react-vue-js-icons.svg" alt="React Vue Js Icons">
            <p>Show that you are motivated to continually improve your skills, implement innovative solutions and stay
                abreast of new technologies.</p>
        </div>
    </div>
</div>