.my-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    padding-bottom: 0;

    h2 {
        margin-top: 0;
        color: rgb(137, 187, 217);
    }

    @media screen and (max-width: 1340px) {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.my-skills-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

    @media screen and (max-width: 1040px) {
        flex-direction: column;
    }
}

.my-skills-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.my-skills-text-box {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 380px;
    background-image: url('/assets/img/my-skills/ellipse-default.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease-out;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &:hover {
        background-image: url('/assets/img/my-skills/ellipse-hover.svg');
        width: 380px;
        height: 380px;
    }

    p{
        width: 300px;
    }

    @media screen and (max-width: 1040px) {
        display: none;
    }
}

.my-skills-text-box-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media screen and (max-width: 1040px) {
        display: flex;
    }
}

.my-skills-text-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.blue {
    color: rgb(137, 187, 217);
}

.my-skills-text-mobile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/my-skills/ellipse-default.svg');
    background-size: contain;
    width: 400px;
    height: 130px;
    background-position: center;
    background-repeat: no-repeat;
}

.button-box {
    display: flex;
    width: 100%;
    justify-content: center;
    display: none;

    @media screen and (max-width: 1040px) {
        display: flex;
    }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; 
  width: 150px; 
  font-size: 18px;
  color:rgb(37, 45, 51);
  background-image: url('/assets/img/why-me/lets-talk-default.svg'); 
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
  background-color: rgb(137, 187, 217);
  border-radius: 30px;
}