<nav>
    <img class="nav-logo" src="/assets/img/navbar/logo-default.png" alt="logo-default">

    <div class="nav-links">
        <a href="#">Why me</a>
        <a href="#">Skills</a>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
    </div>

    <div class="nav-language">
        <div class="language-box">
            <a href="#">DE</a>
            <img class="d-none" src="/assets/img/navbar/ellipse-small.svg" alt="ellipse-small">
        </div>
        <div class="language-box">
            <a class="language-aktiv" href="#">EN</a>
            <img src="/assets/img/navbar/ellipse-small.svg" alt="ellipse-small">
        </div>
    </div>
</nav>