<nav>
    <a class="nav-logo" (click)="onLogoClick()" style="cursor: pointer;">
        <img src="/assets/img/navbar/logo-default.png" alt="logo-default">
    </a>

    <div class="nav-links">
        <a (click)="scrollToSection('why-me')">{{ 'NAV_WHY_ME' | translate }}</a>
        <a (click)="scrollToSection('my-skills')">{{ 'NAV_SKILLS' | translate }}</a>
        <a (click)="scrollToSection('my-projects')">{{ 'NAV_PROJECTS' | translate }}</a>
        <a (click)="scrollToSection('contact-me')">{{ 'NAV_CONTACT' | translate }}</a>
    </div>

    <div class="nav-language">
        <div class="language-box">
            <a (click)="switchLanguage('de')" [class.language-aktiv]="currentLang === 'de'">DE</a>
            <img [class.d-none]="currentLang !== 'de'" src="/assets/img/navbar/ellipse-small.svg" alt="ellipse-small">
        </div>

        <div class="language-box">
            <a (click)="switchLanguage('en')" [class.language-aktiv]="currentLang === 'en'">EN</a>
            <img [class.d-none]="currentLang !== 'en'" src="/assets/img/navbar/ellipse-small.svg" alt="ellipse-small">
        </div>
    </div>
</nav>