app-legal-notice {
  min-height: calc(100vh - 300px);
  max-width: 1920px;
  margin: 0 auto;
  display: block;
}

app-privacy-policy {
  min-height: calc(100vh - 300px);
  max-width: 1920px;
  margin: 0 auto;
  display: block;
}