header {
    height: calc(100vh - 200px);
    max-width: 1920px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

    @media screen and (max-width: 1620px) {
        h1 {
            text-align: center;
            width: 100%;
        }
    }

    @media screen and (max-width: 1340px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media screen and (max-width: 1240px) {
        flex-direction: column;
        align-items: center;
        height: 100vh;
        padding-bottom: 50px;

        .logo-container {
            display: none;
        }
    }
}

.pass-img-container {
    height: 100%;
    position: relative;
    width: 50%;
    display: flex;
    margin-top: auto;
    margin-bottom: 0;

    &:hover {
        .pass-background {
            img {
                &:first-child {
                    transition: all 0.5s ease-out;
                    opacity: 0;
                }

                &:last-child {
                    transition: all 0.5s ease-out;
                    opacity: 1;
                }
            }
        }
    }

    @media (max-width: 1240px) {
        .pass-background img {
            display: none;
        }
        .pass-image-box {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: inherit;
            left: auto;
            top: auto;
        }
        .pass-img-box img {
            display: none;
        }
        .logo-mobile {
            display: flex !important;
            height: 50vh;
        }
    }
}

.pass-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: opacity 0.3s ease;

        &:first-child {
            z-index: 1;
            opacity: 1;

            &:last-child {
                z-index: 2;
                opacity: 0;
            }
        }
    }
}

.pass-img-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;

    .pass-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    @media screen and (max-width: 1240px) {
        position: inherit;
        top: auto;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.pass-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 50%;

    h1 {
        margin-bottom: 0;
    }

    @media screen and (max-width: 1240px) {
        width: 100%;
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}


.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
        position: absolute;
        top: -43px;
        width: 85px;
        height: 85px;
        object-fit: contain;

        &:first-child {
            transition: all 0.5s ease-out;
            transform: scale(1) translate(0, 0);
            opacity: 1;
        }

        &:last-child {
            transition: all 0.5s ease-out;
            transform: scale(1) translate(0.5px, 0);
            opacity: 0;
        }
    }

    &:hover {
        img {
            &:first-child {
                transform: scale(1) translate(-0.5px, 0);
                opacity: 0;
            }

            &:last-child {
                transform: scale(1) translate(0, 0);
                opacity: 1;
            }
        }
    }
}

.sozial-media-button {
    display: flex;
    gap: 15px;
    position: absolute;
    padding-bottom: 30px;
    right: 0;
    bottom: -70px;
    flex-direction: column;
}

.email-box,
.github-box,
.linkedin-box {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;


    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: opacity 0.3s ease;

        &:first-child {
            opacity: 1;
            z-index: 1;
        }

        &:last-child {
            opacity: 0;
            z-index: 2;
        }
    }


    &:hover {
        img {
            &:first-child {
                opacity: 0;
            }

            &:last-child {
                opacity: 1;
            }
        }
    }
}

.arrow-down {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 50px;
    height: 100px;
    cursor: pointer;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: opacity 0.3s ease;

        &:first-child {
            opacity: 1;
            z-index: 1;
        }

        &:last-child {
            opacity: 0;
            z-index: 2;
        }
    }


    &:hover {
        img {
            &:first-child {
                opacity: 0;
            }

            &:last-child {
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 1240px) {
  .pass-img-container,
  .pass-img-box,
  .pass-text-box {
    margin: 0;
    padding: 0;
  }

  .header{
    padding-top: 0;
  }
}

.navbar-mobile {
    display: none;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    height: 100px;
    width: 100%;

    @media screen and (max-width: 1240px) {
        display: flex;
    }
}