<div class="legal-notice-container">
  <h2>{{ 'LEGAL_TITLE' | translate }}</h2>
  <h3>{{ 'LEGAL_IMPRINT' | translate }}</h3>
  <p>{{ 'LEGAL_OWNER_NAME' | translate }}</p>
  <p>{{ 'LEGAL_OWNER_ADDRESS1' | translate }}</p>
  <p>{{ 'LEGAL_OWNER_ADDRESS2' | translate }}</p>

  <h3>{{ 'LEGAL_EXPLORING_BOARD' | translate }}</h3>
  <a href="mailto:davideisenbarth@gmail.com">{{ 'LEGAL_EMAIL' | translate }}</a>

  <h3>{{ 'LEGAL_ACCEPTANCE_TITLE' | translate }}</h3>
  <p>{{ 'LEGAL_ACCEPTANCE_TEXT' | translate }}</p>

  <h3>{{ 'LEGAL_SCOPE_TITLE' | translate }}</h3>
  <p>{{ 'LEGAL_SCOPE_TEXT' | translate }}</p>

  <h3>{{ 'LEGAL_PROPRIETARY_TITLE' | translate }}</h3>
  <p>{{ 'LEGAL_PROPRIETARY_TEXT' | translate }}</p>

  <h3>{{ 'LEGAL_USE_TITLE' | translate }}</h3>
  <p>{{ 'LEGAL_USE_TEXT' | translate }}</p>

  <h3>{{ 'LEGAL_DISCLAIMER_TITLE' | translate }}</h3>
  <p>{{ 'LEGAL_DISCLAIMER_TEXT' | translate }}</p>

  <h3>{{ 'LEGAL_INDEMNITY_TITLE' | translate }}</h3>
  <p>{{ 'LEGAL_INDEMNITY_TEXT' | translate }}</p>
</div>
