<div class="contact-me">
    <div class="contact-title">
        <h2>Contact me</h2>
        <div class="back-button" (click)="scrollToTop()">
            <img src="/assets/img/contact-me/arrow-up.svg" alt="Arrow Up">
            <img src="/assets/img/contact-me/arrow-up-hover.svg" alt="Arrow UP Hover">
        </div>
    </div>
    <div class="contact-text-container">
        <div class="text-box">
            <p>Feel free to get in touch with job offers or opportunities such as freelance work, permanent roles, or
                collaborations. I am interested in contributing my skills to meaningful projects and adding value
                through reliable, high-quality work.</p>
        </div>
        <div class="info-box">
            <div class="email-box">
                <a href="mailto:davideisenbarth@gmail.com">
                    <img class="email-icon default" src="/assets/img/contact-me/email-icon-default.svg"
                        alt="Email Icon Default">
                    <img class="email-icon hover" src="/assets/img/contact-me/email-icon-hover.svg"
                        alt="Email Icon Hover">
                    <img class="email-icon active" src="/assets/img/contact-me/email-icon-click.svg"
                        alt="Email Icon Click">
                    Email: davideisenbarthgmail.com</a>
            </div>
            <div class="phone-box">
                <a href="tel:0151/22264080">
                    <img class="phone-icon default" src="/assets/img/contact-me/phone-icon-default.svg"
                        alt="Phone Icon Default">
                    <img class="phone-icon hover" src="/assets/img/contact-me/phone-icon-hover.svg"
                        alt="Phone Icon Hover">
                    Phone: 0151/22264080</a>
            </div>
        </div>
    </div>
</div>
<app-form></app-form>