<div id="contact-me" class="contact-me">
  <div class="contact-title">
    <h2>{{ 'CONTACT_TITLE' | translate }}</h2>

    <div class="back-button" (click)="scrollToTop()">
      <img src="/assets/img/contact-me/arrow-up.svg" alt="Arrow Up">
      <img src="/assets/img/contact-me/arrow-up-hover.svg" alt="Arrow UP Hover">
    </div>
  </div>

  <div class="contact-text-container">
    <div class="text-box">
      <p>{{ 'CONTACT_DESCRIPTION' | translate }}</p>
    </div>

    <div class="info-box">
      <div class="email-box">
        <a href="mailto:davideisenbarth@gmail.com">
          <img class="email-icon default" src="/assets/img/contact-me/email-icon-default.svg" alt="Email Icon Default">
          <img class="email-icon hover" src="/assets/img/contact-me/email-icon-hover.svg" alt="Email Icon Hover">
          <img class="email-icon active" src="/assets/img/contact-me/email-icon-click.svg" alt="Email Icon Click">
          {{ 'CONTACT_EMAIL_LABEL' | translate }}
        </a>
      </div>

      <div class="phone-box">
        <a href="tel:015122264080">
          <img class="phone-icon default" src="/assets/img/contact-me/phone-icon-default.svg" alt="Phone Icon Default">
          <img class="phone-icon hover" src="/assets/img/contact-me/phone-icon-hover.svg" alt="Phone Icon Hover">
          {{ 'CONTACT_PHONE_LABEL' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>

<app-form></app-form>
