// ===========================
// MOBILE NAVIGATION ELEMENTS
// ===========================

.navbar-mobile {
  display: none;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
  width: 100%;

  .menu-icon {
    width: 30px;
    height: 32px;
    object-fit: contain;
  }
}

.logo-navbar-mobile {
  width: 60px;
  height: 70px;
  object-fit: contain;
  position: relative;
}

.navbar-menu {
  display: none;
  position: absolute;
  top: 145px;
  left: 0;
  width: 100%;
  height: calc(50vh + 5px);
  background: url('/assets/img/header/bubble_default.png') center/contain no-repeat;
  z-index: 10;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 50px;
  color: rgb(37, 45, 51);
  font-size: 22px;
  font-weight: 400;
  pointer-events: none;

  a {
    margin: 0;
    pointer-events: auto;
  }
}

.language-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.language-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;

  img {
    position: absolute;
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
}

.language-aktiv {
  color: white !important;
}

.menu-icon {
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 20;

  img {
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.5s ease;
    opacity: 0;
    pointer-events: none;

    &.visible {
      opacity: 1;
      z-index: 2;
    }
  }
}

.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 19;
}

.navbar-menu {
  z-index: 20;
}

// ===========================
// MOBILE RESPONSIVE BREAKPOINTS
// ===========================

@media screen and (max-width: 1240px) {
  .navbar-mobile {
    display: flex;
  }

  .navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 450px) {
  .navbar-menu {
    gap: 30px;
    top: 166px;
  }
}

@media screen and (max-width: 400px) {
  .navbar-menu {
    left: 10px;
    width: calc(100% - 20px);
  }
}