<div id="my-projects" class="projects">
    <h2>{{ 'PROJECTS.TITLE' | translate }}</h2>
    <div class="nav">
        <span class="tab" [class.active]="activeTab === 1" (click)="setTab(1)">{{ 'PROJECTS.TABS.POKEDEX' | translate
            }}</span>
        <span class="tab" [class.active]="activeTab === 2" (click)="setTab(2)">{{ 'PROJECTS.TABS.ELPOLLOLOCO' |
            translate }}</span>
        <span class="tab" [class.active]="activeTab === 3" (click)="setTab(3)">{{ 'PROJECTS.TABS.JOIN' | translate
            }}</span>
        <span class="tab" [class.active]="activeTab === 4" (click)="setTab(4)">{{ 'PROJECTS.TABS.ONGOING' | translate
            }}</span>
    </div>
    <div class="nav-mobile">
        <span class="tab" [class.active]="activeTab === 1" (click)="setTab(1)">1.{{ 'PROJECTS.TABS.PROJECT' | translate
            }}</span>
        <span class="tab" [class.active]="activeTab === 2" (click)="setTab(2)">2.{{ 'PROJECTS.TABS.PROJECT' | translate
            }}</span>
        <span class="tab" [class.active]="activeTab === 3" (click)="setTab(3)">3.{{ 'PROJECTS.TABS.PROJECT' | translate
            }}</span>
        <span class="tab" [class.active]="activeTab === 4" (click)="setTab(4)">4.{{ 'PROJECTS.TABS.PROJECT' | translate
            }}</span>
    </div>
    
    <div class="content" [style.border-radius]="contentBorderRadius">
        <!-- Tab 1 -->
        <ng-container *ngIf="activeTab === 1">
            <div class="container-left">
                <div class="text-area">
                    <div class="text-title">
                        <img src="/assets/img/project/ellipse.svg" alt="Ellipse">
                        <h5>{{ 'POKEDEX.ABOUT.TITLE' | translate }}</h5>
                        <span>{{ 'POKEDEX.ABOUT.DURATION' | translate }}</span>
                    </div>
                    <div>
                        <p>{{ 'POKEDEX.ABOUT.CONTENT' | translate }}</p>
                    </div>
                </div>
                <div class="text-area">
                    <div class="text-title">
                        <img src="/assets/img/project/ellipse.svg" alt="Ellipse">
                        <h5>{{ 'POKEDEX.WORK.TITLE' | translate }}</h5>
                    </div>
                    <div>
                        <p>{{ 'POKEDEX.WORK.CONTENT' | translate }}</p>
                    </div>
                </div>
                <div class="text-area">
                    <div class="text-title">
                        <img src="/assets/img/project/ellipse.svg" alt="Ellipse">
                        <h5>{{ 'POKEDEX.LEARNED.TITLE' | translate }}</h5>
                    </div>
                    <div>
                        <p>{{ 'POKEDEX.LEARNED.CONTENT' | translate }}</p>
                    </div>
                    <div class="button-box-mobile">
                        <a href="/assets/projects/pokedex/index.html" target="_blank">{{ 'PROJECTS.LIVE_TEST' |
                            translate }}</a>
                        <a href="https://github.com/eisyeic/Pokedex.git" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>
            <div class="container-right">
                <div class="picture-area">
                    <h3>POKEDEX</h3>
                    <span>{{ 'PROJECTS.TECHNOLOGIES' | translate }}</span>
                    <p>{{ 'POKEDEX.ABOUT.MOBILE' | translate }}</p>
                    <p>{{ 'POKEDEX.ABOUT.MOBILE_DURATION' | translate }}</p>
                    <div class="technologies">
                        <img src="/assets/img/project/html-icon.svg" alt="Html Icon">
                        <img src="/assets/img/project/css-icon.svg" alt="Css Icon">
                        <img src="/assets/img/project/javascript-icon.svg" alt="Javascript Icon">
                    </div>
                    <img class="screen" src="/assets/img/project/pokedex-screen.JPG" alt="Pokedex Screen">
                    <div class="button-box">
                        <a href="/assets/projects/pokedex/index.html" target="_blank">{{ 'PROJECTS.LIVE_TEST' |
                            translate }}</a>
                        <a href="https://github.com/eisyeic/Pokedex.git" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>
        </ng-container>

        <!-- Tab 2 -->
        <ng-container *ngIf="activeTab === 2">
            <div class="container-left">
                <div class="text-area">
                    <div class="text-title">
                        <img src="/assets/img/project/ellipse.svg" alt="Ellipse">
                        <h5>{{ 'ELPOLLO.ABOUT.TITLE' | translate }}</h5>
                        <span>{{ 'ELPOLLO.ABOUT.DURATION' | translate }}</span>
                    </div>
                    <div>
                        <p>{{ 'ELPOLLO.ABOUT.CONTENT' | translate }}</p>
                    </div>
                </div>
                <div class="text-area">
                    <div class="text-title">
                        <img src="/assets/img/project/ellipse.svg" alt="Ellipse">
                        <h5>{{ 'ELPOLLO.WORK.TITLE' | translate }}</h5>
                    </div>
                    <div>
                        <p>{{ 'ELPOLLO.WORK.CONTENT' | translate }}</p>
                    </div>
                </div>
                <div class="text-area">
                    <div class="text-title">
                        <img src="/assets/img/project/ellipse.svg" alt="Ellipse">
                        <h5>{{ 'ELPOLLO.LEARNED.TITLE' | translate }}</h5>
                    </div>
                    <div>
                        <p>{{ 'ELPOLLO.LEARNED.CONTENT' | translate }}</p>
                    </div>
                    <div class="button-box-mobile">
                        <a href="/assets/projects/el-pollo-loco/index.html" target="_blank">{{ 'PROJECTS.LIVE_TEST' |
                            translate }}</a>
                        <a href="https://github.com/eisyeic/El-Pollo-Loco.git" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>
            <div class="container-right">
                <div class="picture-area">
                    <h3>EL POLLO LOC</h3>
                    <span>{{ 'PROJECTS.TECHNOLOGIES' | translate }}</span>
                    <p>{{ 'ELPOLLO.ABOUT.MOBILE' | translate }}</p>
                    <p>{{ 'ELPOLLO.ABOUT.MOBILE_DURATION' | translate }}</p>
                    <div class="technologies">
                        <img src="/assets/img/project/html-icon.svg" alt="Html Icon">
                        <img src="/assets/img/project/css-icon.svg" alt="Css Icon">
                        <img src="/assets/img/project/javascript-icon.svg" alt="Javascript Icon">
                    </div>
                    <img class="screen-cover" src="/assets/img/project/el-pollp-loco-screen.png"
                        alt="El Pollp Loco Screen">
                    <div class="button-box">
                        <a href="/assets/projects/el-pollo-loco/index.html" target="_blank">{{ 'PROJECTS.LIVE_TEST' |
                            translate }}</a>
                        <a href="https://github.com/eisyeic/El-Pollo-Loco.git" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>
        </ng-container>

        <!-- Tab 3 -->
        <ng-container *ngIf="activeTab === 3">
            <div class="container-left">
                <div class="text-area">
                    <div class="text-title">
                        <img src="/assets/img/project/ellipse.svg" alt="Ellipse">
                        <h5>{{ 'JOIN.ABOUT.TITLE' | translate }}</h5>
                        <span>{{ 'JOIN.ABOUT.DURATION' | translate }}</span>
                    </div>
                    <div>
                        <p>{{ 'JOIN.ABOUT.CONTENT' | translate }}</p>
                    </div>
                </div>
                <div class="text-area">
                    <div class="text-title">
                        <img src="/assets/img/project/ellipse.svg" alt="Ellipse">
                        <h5>{{ 'JOIN.WORK.TITLE' | translate }}</h5>
                    </div>
                    <div>
                        <p>{{ 'JOIN.WORK.CONTENT' | translate }}</p>
                    </div>
                </div>
                <div class="text-area">
                    <div class="text-title">
                        <img src="/assets/img/project/ellipse.svg" alt="Ellipse">
                        <h5>{{ 'JOIN.LEARNED.TITLE' | translate }}</h5>
                    </div>
                    <div>
                        <p>{{ 'JOIN.LEARNED.CONTENT' | translate }}</p>
                    </div>
                    <div class="button-box-mobile">
                        <a href="/assets/projects/join/index.html" target="_blank">{{ 'PROJECTS.LIVE_TEST' | translate
                            }}</a>
                        <a href="https://github.com/eisyeic/Join.git" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>
            <div class="container-right">
                <div class="picture-area">
                    <h3>JOIN</h3>
                    <span>{{ 'PROJECTS.TECHNOLOGIES' | translate }}</span>
                    <p>{{ 'JOIN.ABOUT.MOBILE' | translate }}</p>
                    <p>{{ 'JOIN.ABOUT.MOBILE_DURATION' | translate }}</p>
                    <div class="technologies">
                        <img src="/assets/img/project/html-icon.svg" alt="Html Icon">
                        <img src="/assets/img/project/css-icon.svg" alt="Css Icon">
                        <img src="/assets/img/project/javascript-icon.svg" alt="Javascript Icon">
                    </div>
                    <img class="screen-cover" src="/assets/img/project/join-screen.JPG" alt="Join Screen">
                    <div class="button-box">
                        <a href="/assets/projects/join/index.html" target="_blank">{{ 'PROJECTS.LIVE_TEST' | translate
                            }}</a>
                        <a href="https://github.com/eisyeic/Join.git" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>
        </ng-container>

        <!-- Tab 4 -->
        <ng-container *ngIf="activeTab === 4">
            <div class="container-left">
                <div class="text-area">
                    <div class="text-title">
                        <img src="/assets/img/project/ellipse.svg" alt="Ellipse">
                        <h5>{{ 'ONGOING.ABOUT.TITLE' | translate }}</h5>
                        <span>{{ 'ONGOING.ABOUT.DURATION' | translate }}</span>
                    </div>
                    <div>
                        <p>{{ 'ONGOING.ABOUT.CONTENT' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="container-right">
                <div class="picture-area">
                    <h3>{{ 'ONGOING.ABOUT.MOBILE_P' | translate }}</h3>
                    <span>{{ 'PROJECTS.TECHNOLOGIES' | translate }}</span>
                    <p>{{ 'ONGOING.ABOUT.MOBILE' | translate }}</p>
                    <p>{{ 'ONGOING.ABOUT.MOBILE_DURATION' | translate }}</p>
                    <div class="technologies">
                        <img src="/assets/img/project/angular-icon.svg" alt="Angular Icon">
                        <img src="/assets/img/project/typescript-icon.svg" alt="Typescript Icon">
                        <img src="/assets/img/project/firebase-icon.svg" alt="Firebase Icon">
                    </div>
                    <div class="white-screen">
                        <h5>{{ 'PROJECTS.COMING_SOON' | translate }}</h5>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>